.navbar2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 25px 40px 10px;
  text-decoration: none;
}

.navbar-left2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.navbar-right2 {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 100px; 
}

.nav-links2 {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
}

.nav-links2 a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}