html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.idea-project-page {
  font-family: Arial, sans-serif;
  background-color: #EEEFF0;
  height: 100%;
  color: #0C2737;
  border-radius: 10px;
}

.content {
  margin-top: 20px;   /* كانت 100px، خفّضناها لعشرون */
  padding: 30px;
  margin-bottom: 100px;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-title {
  font-size: 32px;
  font-weight: bold;
  margin-left: 70px; /* يحرك العنوان لليمين */
    margin-left: 0;
  margin-top: 0;
}


/* شريط البحث */
.search-bar {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px 15px;
  border-radius: 25px;
  width: 300px;
   margin-right: 70px;
}

.search-bar input {
  border: none;
  background: transparent;
  margin-left: 10px;
  font-size: 16px;
  color: #555;
  width: 100%;
}

.search-bar input::placeholder {
  color: #aaa;
  font-weight: 300;
}

.search-iiconn{
  color: #888;
  font-size: 20px;
}

.project-box {
  width: 993px;
  height: 129px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border-radius: 30px;
}

.project-title {
  font-size: 40px;
  font-weight: 500;
}

.details-btn {
  background-color: #FFCB66;
  border: none;
  padding: 15px 40px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.details-btn:hover {
  background-color: #e6b65c;
}

.add-project-btn {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(90deg, #0C2737, #226F9D);
  color: white;
  border: none;
  padding: 15px 35px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 1000;
  transition: all 0.3s ease;
}

.add-project-btn.scrolled {
  left: auto;
  right: 30px;
  transform: translateX(0%);
}

.add-project-btn:hover {
  transform: scale(1.05);
}

.plus-icon {
  font-size: 22px;
  font-weight: bold;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(12, 39, 55, 0.8); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal-content {
  background-color: #C7D9E5;
  width: 600px;
  height: 400px;
  border-radius: 30px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 30px;
  box-sizing: border-box;
  color: #0C2737;
  font-family: Arial, sans-serif;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  }

.project-name-box {
  font-weight: bold;
  font-size: 40px;
  color: #000000;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.upload-text {
  font-weight: bold;
  font-size: 25px;
  color: #000000;
}

/* زرار رفع الملف */
.upload-file-btn {
  background-color: #FFCB66;
  border: none;
  padding: 18px 36px;
  font-size: 16px;
  font-weight: 550;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.upload-file-btn:hover {
  background-color: #e6b65c;
}
.modal-footer {
  display: flex;
  justify-content: flex-end;  /* علشان يكون على اليمين */
  padding-bottom: 10px;
}



.done-btn {
  background-color: #FFCB66;
  color: #000000;
  border: none;
  padding: 12px 40px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}

.done-btn:hover {
  background-color: #226F9D;
}
