.about-section {
    padding: 4rem 2rem;
    background-color: #C7D9E5;
    text-align: center;
    border-bottom-right-radius: 150px;

  }
  
  .about-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  
  .about-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .about-image img {
    width: 100%;
    max-width: 500px;
    border-top-left-radius: 120px;
    border-bottom-right-radius: 120px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .about-text {
    max-width: 600px;
    text-align: left;
    font-size: 1.1rem;
    line-height: 1.7;
  }
  