.opportunities-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.opportunities-title {
  color: #0C2737;
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: bold;
}

.opportunities-search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  padding: 8px 15px;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.searchh-icon {
  color: #777;
  margin-right: 10px;
}

.searcch-input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
}

.tabs-container {
  display: flex;
  gap: 20px;
}

.tab {
  padding: 10px 25px;
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  color: #000000;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.tab.active {
  background-color: #E6E6E6;
  color: #000;
}

.opportunities-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px; /* Adjusted for more space between cards */
}

.opportunity-card {
  background-color: white;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.opportunity-title {
  color: #0C2737;
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 600;
}

.opportunity-description {
  color: #555;
  font-size: 14px;
  line-height: 1.5;
  flex-grow: 1;
  margin-bottom: 20px;
}

.apply-btn {
  background-color: #FFCB66;
  color: #000;
  border: none;
  padding: 10px 0;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100px;
  align-self: flex-end;
}

.apply-btn:hover {
  background-color: #e6b65c;
}

@media (max-width: 1024px) {
  .opportunities-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px; /* Maintain gap on smaller screens */
  }
}

@media (max-width: 768px) {
  .opportunities-grid {
    grid-template-columns: 1fr;
    gap: 30px; /* Maintain gap on mobile */
  }
  
  .opportunities-search-container {
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
  }
  
  .search-box {
    width: 100%;
  }
}